# Calculate Lift Values

In [1]:
import pandas as pd
import numpy as np

In [4]:
corpus = pd.read_csv("./output/comments_5000.csv", index_col=0)
corpus.dropna(inplace= True)
corpus["comments"] = corpus["comments"].str.lower()
print(corpus.shape)
N = corpus.shape[0]
corpus.head()

(4979, 3)

,Date,user_id,comments
0,"February 25, 2020 12:38PM",Michaell,"\nand, that's on top of any discount you negot..."
1,"February 25, 2020 12:41PM",andres3,add $350 to any lease on a kia if you are not ...
2,"February 25, 2020 12:44PM",andres3,\n\ndid you hear about the key fob scam the de...
3,"February 25, 2020 12:47PM",tjc78,that's a jaw-dropping lease incentive. amazing...
4,"February 25, 2020 12:50PM",Michaell,\ni'm pretty sure that's the case with any cap...

In [12]:
top10 = ['audi',
 'bmw',
 'acura',
 'honda',
 'volkswagen',
 'cadillac',
 'infiniti',
 'mercedes',
 'hyundai',
 'toyota']
freq_count = {}
for brands in top10:
    freq_count[brands] = 0

In [13]:
freq_count = {}
for brand in top10:
    freq_count[brand] = sum(corpus.comments.str.contains(brand))
freq_count

{'audi': 703,
 'bmw': 905,
 'acura': 432,
 'honda': 174,
 'volkswagen': 14,
 'cadillac': 218,
 'infiniti': 178,
 'mercedes': 173,
 'hyundai': 81,
 'toyota': 78}

In [16]:
def SimultaneousCount(brand1: str, brand2: str):
    return corpus["comments"].apply(lambda x: (all(t in x for t in [brand1, brand2])))

sum(SimultaneousCount("mercedes","hyundai"))

11

In [19]:
Lift = pd.DataFrame(index=top10, columns=top10)

for brand1 in top10:
    for brand2 in top10:
        N_ab = sum(SimultaneousCount(brand1, brand2))

        Lift[brand1][brand2] = (N*N_ab)/(freq_count[brand1]*freq_count[brand2])
        if(brand1 == brand2):
            Lift[brand1][brand2] = np.nan

# Lift.to_csv("./output/lift.csv")
Lift

,audi,bmw,acura,honda,volkswagen,cadillac,infiniti,mercedes,hyundai,toyota
audi,NaN,2.433877,2.623149,2.360835,3.035359,3.541252,3.421884,4.626144,2.09852,2.270033
bmw,2.433877,NaN,1.935768,1.23313,1.178927,2.3218,2.689012,3.911583,1.630121,1.90442
acura,2.623149,1.935768,NaN,5.961446,1.646495,3.277884,5.697982,3.99727,2.845793,2.51196
honda,2.360835,1.23313,5.961446,NaN,4.087849,1.968918,3.697436,2.646469,5.652334,9.905172
volkswagen,3.035359,1.178927,1.646495,4.087849,NaN,3.262779,1.997994,4.111478,0.0,0.0
cadillac,3.541252,2.3218,3.277884,1.968918,3.262779,NaN,4.747526,6.336957,3.101654,3.513761
infiniti,3.421884,2.689012,5.697982,3.697436,1.997994,4.747526,NaN,6.629181,4.834651,3.944757
mercedes,4.626144,3.911583,3.99727,2.646469,4.111478,6.336957,6.629181,NaN,3.908442,3.320809
hyundai,2.09852,1.630121,2.845793,5.652334,0.0,3.101654,4.834651,3.908442,NaN,7.092593
toyota,2.270033,1.90442,2.51196,9.905172,0.0,3.513761,3.944757,3.320809,7.092593,NaN

In [7]:
a = np.array(Lift)
np.alltrue(a == a.T)
# Lift is Symmetric

True

***