# Calculate Lift Values

In [1]:
import pandas as pd
import numpy as np

In [2]:
corpus = pd.read_csv("./output/Results.csv", index_col=0)
corpus.dropna(inplace= True)
corpus["comments"] = corpus["comments"].str.lower()
print(corpus.shape)
N = corpus.shape[0]
corpus.head()

(4986, 2)

                     Date                                           comments
0  March 24, 2002 10:54PM  i personally think that with a few tweaks the ...
1  March 25, 2002 12:06AM  i am debating a new purchase and these two are...
2  March 25, 2002 10:02AM  great handling, rwd, excellent engine and the ...
3   March 25, 2002 4:04PM  and no manual tranny. that may not matter to y...
4   March 25, 2002 5:44PM  one beauty of bmw 3 series is that there are s...

In [3]:
top10 = ['audi','mercedes','mazda','bmw','nissan','volvo','ford','hyundai','volkswagen','toyota']
freq_count = {}
for brands in top10:
    freq_count[brands] = 0

In [4]:
freq_count = {}
for brand in top10:
    freq_count[brand] = sum(corpus.comments.str.contains(brand))
freq_count

{'audi': 337,
 'mercedes': 162,
 'mazda': 82,
 'bmw': 1229,
 'nissan': 205,
 'volvo': 127,
 'ford': 168,
 'hyundai': 77,
 'volkswagen': 18,
 'toyota': 136}

In [5]:
def SimultaneousCount(brand1: str, brand2: str):
    return corpus["comments"].apply(lambda x: (all(t in x for t in [brand1, brand2])))

sum(SimultaneousCount("bmw","nissan"))

74

In [6]:
Lift = pd.DataFrame(index=top10, columns=top10)

for brand1 in top10:
    for brand2 in top10:
        N_ab = sum(SimultaneousCount(brand1, brand2))

        Lift[brand1][brand2] = (N*N_ab)/(freq_count[brand1]*freq_count[brand2])
        if(brand1 == brand2):
            Lift[brand1][brand2] = 1

Lift.to_csv("./output/lift.csv")
Lift

,audi,mercedes,mazda,bmw,nissan,volvo,ford,hyundai,volkswagen,toyota
audi,1,4.201121,2.526019,2.347497,1.515611,5.35891,2.377808,0.960731,9.041543,1.631829
mercedes,4.201121,1,1.501355,2.153693,2.252033,7.270341,2.931217,2.79798,11.969136,2.263072
mazda,2.526019,1.501355,1,1.731628,4.449137,6.224121,4.343206,3.948369,20.268293,6.70642
bmw,2.347497,2.153693,1.731628,1,1.464462,1.75695,1.569656,1.317194,2.930024,1.312545
nissan,1.515611,2.252033,4.449137,1.464462,1,4.787786,2.46115,2.842825,5.404878,8.40538
volvo,5.35891,7.270341,6.224121,1.75695,4.787786,1,4.206412,1.529604,13.086614,4.33013
ford,2.377808,2.931217,4.343206,1.569656,2.46115,4.206412,1,5.010668,6.595238,3.273372
hyundai,0.960731,2.79798,3.948369,1.317194,2.842825,1.529604,5.010668,1,7.194805,8.094156
volkswagen,9.041543,11.969136,20.268293,2.930024,5.404878,13.086614,6.595238,7.194805,1,8.147059
toyota,1.631829,2.263072,6.70642,1.312545,8.40538,4.33013,3.273372,8.094156,8.147059,1

In [7]:
a = np.array(Lift)
np.alltrue(a == a.T)
# Lift is Symmetric

True

***